# Eat Safe, Love

## Notebook Set Up

In [15]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint
import pandas as pd

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [3]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [4]:
# review the collections in our database
print(db.list_collection_names())

['establishments']

In [5]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [14]:
# Find the establishments with a hygiene score of 20
hygiene_20_query = {"scores.Hygiene": 20}


# Use count_documents to display the number of documents in the result
number_of_hygiene_20 = establishments.count_documents(hygiene_20_query)
print(f"The number of documents with a hygiene score equal to 20 is {number_of_hygiene_20}.")

# Display the first document in the results using pprint
hygiene_20_results = list(establishments.find(hygiene_20_query))
pprint(hygiene_20_results[0])

The number of documents with a hygiene score equal to 20 is 41.
{'AddressLine1': '5-6 Southfields Road',
 'AddressLine2': 'Eastbourne',
 'AddressLine3': 'East Sussex',
 'AddressLine4': '',
 'BusinessName': 'The Chase Rest Home',
 'BusinessType': 'Caring Premises',
 'BusinessTypeID': 5,
 'ChangesByServerID': 0,
 'Distance': 4613.888288172291,
 'FHRSID': 110681,
 'LocalAuthorityBusinessID': '4029',
 'LocalAuthorityCode': '102',
 'LocalAuthorityEmailAddress': 'Customerfirst@eastbourne.gov.uk',
 'LocalAuthorityName': 'Eastbourne',
 'LocalAuthorityWebSite': 'http://www.eastbourne.gov.uk/foodratings',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'BN21 1BU',
 'RatingDate': '2021-09-23T00:00:00',
 'RatingKey': 'fhrs_0_en-gb',
 'RatingValue': 0,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('65500060abd8a7dad1514347'),
 'geocode': {'latitude': 50.769705, 'longitude': 0.27694},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/110681',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 20, 'Hygiene': 20, 'Structural': 20}}

In [19]:
# Convert the result to a Pandas DataFrame
hygiene_20_df = pd.json_normalize(hygiene_20_results)
# Display the number of rows in the DataFrame
print(f"The number of rows in the DataFrame is {len(hygiene_20_df)}")
# Display the first 10 rows of the DataFrame
hygiene_20_df.head(10)

The number of rows in the DataFrame is 41

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,geocode.longitude,geocode.latitude,meta.dataSource,meta.extractDate,meta.itemCount,meta.returncode,meta.totalCount,meta.totalPages,meta.pageSize,meta.pageNumber
0,65500060abd8a7dad1514347,110681,0,4029,The Chase Rest Home,Caring Premises,5,5-6 Southfields Road,Eastbourne,East Sussex,...,0.276940,50.769705,None,0001-01-01T00:00:00,0,None,0,0,0,0
1,65500060abd8a7dad15146c7,612039,0,1970/FOOD,Brenalwood,Caring Premises,5,Hall Lane,Walton-on-the-Naze,Essex,...,1.278721,51.857536,None,0001-01-01T00:00:00,0,None,0,0,0,0
2,65500060abd8a7dad15149d1,730933,0,1698/FOOD,Melrose Hotel,Hotel/bed & breakfast/guest house,7842,53 Marine Parade East,Clacton On Sea,Essex,...,1.159270,51.789429,None,0001-01-01T00:00:00,0,None,0,0,0,0
3,65500060abd8a7dad1514bc0,172735,0,PI/000023858,Seaford Pizza,Takeaway/sandwich shop,7844,4 High Street,Seaford,East Sussex,...,0.102020,50.770885,None,0001-01-01T00:00:00,0,None,0,0,0,0
4,65500060abd8a7dad1514bcf,172953,0,PI/000024532,Golden Palace,Restaurant/Cafe/Canteen,1,5 South Street,Seaford,East Sussex,...,0.101446,50.770724,None,0001-01-01T00:00:00,0,None,0,0,0,0
5,65500060abd8a7dad151556e,512854,0,12/00816/BUTH,Ashby's Butchers,Retailers - other,4613,777 Southchurch Road,Southend-On-Sea,Essex,...,0.736349,51.541448,None,0001-01-01T00:00:00,0,None,0,0,0,0
6,65500060abd8a7dad151578f,1537089,0,22/00224/RESTUN,South Sea Express Cuisine,Restaurant/Cafe/Canteen,1,33 Alexandra Street,Southend-on-sea,Essex,...,0.712167,51.535007,None,0001-01-01T00:00:00,0,None,0,0,0,0
7,65500060abd8a7dad1516cba,155648,0,EH/00006058,Golden Palace,Takeaway/sandwich shop,7844,7 London Road,Rayleigh,Essex,...,0.602364,51.591515,None,0001-01-01T00:00:00,0,None,0,0,0,0
8,65500060abd8a7dad15170fd,1012883,0,17/00110/MIXED/S,The Tulip Tree,Restaurant/Cafe/Canteen,1,3 The Village,Chiddingstone,KENT,...,0.146450,51.185947,None,0001-01-01T00:00:00,0,None,0,0,0,0
9,65500060abd8a7dad1517910,644109,0,41811,F & S,Retailers - other,4613,,81 Southernhay,Basildon,...,0.462307,51.570050,None,0001-01-01T00:00:00,0,None,0,0,0,0

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [24]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
London_rating_gte_4_query = {'LocalAuthorityName': {"$regex": "London"}, "RatingValue": {"$gte" : 4}}

# Use count_documents to display the number of documents in the result
number_of_London_rating_gte_4 = establishments.count_documents(London_rating_gte_4_query)
print(f"The number of documents with a hygiene score equal to 20 is {number_of_London_rating_gte_4}.")

# Display the first document in the results using pprint
London_rating_gte_4_results = list(establishments.find(London_rating_gte_4_query))
pprint(London_rating_gte_4_results[0])

The number of documents with a hygiene score equal to 20 is 33.
{'AddressLine1': 'Oak Apple Farm Building 103 Sheernes Docks',
 'AddressLine2': 'Sheppy Kent',
 'AddressLine3': '',
 'AddressLine4': '',
 'BusinessName': "Charlie's",
 'BusinessType': 'Other catering premises',
 'BusinessTypeID': 7841,
 'ChangesByServerID': 0,
 'Distance': 4627.439467780196,
 'FHRSID': 621707,
 'LocalAuthorityBusinessID': 'PI/000025307',
 'LocalAuthorityCode': '508',
 'LocalAuthorityEmailAddress': 'publicprotection@cityoflondon.gov.uk',
 'LocalAuthorityName': 'City of London Corporation',
 'LocalAuthorityWebSite': 'http://www.cityoflondon.gov.uk/Corporation/homepage.htm',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'ME12',
 'RatingDate': '2021-10-18T00:00:00',
 'RatingKey': 'fhrs_4_en-gb',
 'RatingValue': 4,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('65500060abd8a7dad1515d61'),
 'geocode': {'latitude': 51.369321, 'longitude': 0.508551},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/621707',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 5, 'Hygiene': 5, 'Structural': 10}}

In [25]:
# Convert the result to a Pandas DataFrame
London_rating_gte_4_df = pd.json_normalize(London_rating_gte_4_results)

# Display the number of rows in the DataFrame
print(f"The number of rows in the DataFrame is {len(London_rating_gte_4_df)}")

# Display the first 10 rows of the DataFrame
London_rating_gte_4_df.head(10)

The number of rows in the DataFrame is 33

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,geocode.longitude,geocode.latitude,meta.dataSource,meta.extractDate,meta.itemCount,meta.returncode,meta.totalCount,meta.totalPages,meta.pageSize,meta.pageNumber
0,65500060abd8a7dad1515d61,621707,0,PI/000025307,Charlie's,Other catering premises,7841,Oak Apple Farm Building 103 Sheernes Docks,Sheppy Kent,,...,0.508551,51.369321,None,0001-01-01T00:00:00,0,None,0,0,0,0
1,65500060abd8a7dad1516086,1130836,0,PI/000034075,Mv City Cruises Erasmus,Other catering premises,7841,Cherry Garden Pier,Cherry Garden Street Rotherhithe,Charlton,...,0.249256,51.123623,None,0001-01-01T00:00:00,0,None,0,0,0,0
2,65500060abd8a7dad1516bd5,293783,0,PI/000002614,Benfleet Motor Yacht Club,Other catering premises,7841,Ferry Road,South Benfleet Essex,,...,0.561954,51.543831,None,0001-01-01T00:00:00,0,None,0,0,0,0
3,65500060abd8a7dad15179d5,1315095,0,PI/000036464,Coombs Catering t/a The Lock and Key,Restaurant/Cafe/Canteen,1,Leslie Ford House,Tilbury,Charlton,...,0.346337,51.464066,None,0001-01-01T00:00:00,0,None,0,0,0,0
4,65500060abd8a7dad15179d7,294474,0,PI/000014647,Tilbury Seafarers Centre,Restaurant/Cafe/Canteen,1,Tenants Row Tilbury Docks,Tilbury Essex,,...,0.346325,51.464078,None,0001-01-01T00:00:00,0,None,0,0,0,0
5,65500060abd8a7dad15180dc,294900,0,PI/000019066,Mv Valulla,Other catering premises,7841,Reeds River Cruises LtdKings ReachRiver Thames...,London,,...,0.287555,51.504071,None,0001-01-01T00:00:00,0,None,0,0,0,0
6,65500060abd8a7dad151a1ed,293756,0,PI/000002538,Tereza Joanne,Other catering premises,7841,Funcraft UK Ltd King George V Dock Woolwich Ma...,London,,...,0.069286,51.501121,None,0001-01-01T00:00:00,0,None,0,0,0,0
7,65500061abd8a7dad151a5b4,878523,0,PI/000029844,Brick Lane Brews,Restaurant/Cafe/Canteen,1,Air side London City Airport,London,,...,0.048006,51.503733,None,0001-01-01T00:00:00,0,None,0,0,0,0
8,65500061abd8a7dad151a5cd,293772,0,PI/000002585,The Nuance Group (UK) Limited,Retailers - other,4613,Duty Free Shop Passenger Terminal,London City AirportRoyal DocksLondon,,...,0.047966,51.504112,None,0001-01-01T00:00:00,0,None,0,0,0,0
9,65500061abd8a7dad151a5ce,294606,0,PI/000016185,WH Smith,Retailers - other,4613,London City Airport,Silvertown London,,...,0.047966,51.504112,None,0001-01-01T00:00:00,0,None,0,0,0,0

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [78]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score
new_restaurant_result= establishments.find_one({'BusinessName': "Penang Flavours"})

degree_search = 0.01
latitude = new_restaurant_result['geocode']['latitude']
longitude = new_restaurant_result['geocode']['longitude']

query = {"RatingValue": 5, "$or": [{"geocode.latitude": {"$gte": (latitude - degree_search), "$lte": (latitude + degree_search)}}, {"geocode.longitude": {"$gte": (longitude - degree_search), "$lte": (longitude + degree_search)}}]}
sort =  [("scores.Hygiene", 1)]

# Print the results
top_5_rating_5_close_to_Penang_Flavours_results = list(establishments.find(query).sort(sort).limit(5))
pprint(top_5_rating_5_close_to_Penang_Flavours_results)

[{'AddressLine1': 'The Oak',
  'AddressLine2': 'Lodge Lane',
  'AddressLine3': 'Grays',
  'AddressLine4': 'Essex',
  'BusinessName': 'The Oak At Sockets Heath',
  'BusinessType': 'Pub/bar/nightclub',
  'BusinessTypeID': 7843,
  'ChangesByServerID': 0,
  'Distance': 4638.029750999956,
  'FHRSID': 390727,
  'LocalAuthorityBusinessID': '15410/2003/2/000',
  'LocalAuthorityCode': '894',
  'LocalAuthorityEmailAddress': 'foodsafety@thurrock.gov.uk',
  'LocalAuthorityName': 'Thurrock',
  'LocalAuthorityWebSite': 'http://www.thurrock.gov.uk/food',
  'NewRatingPending': False,
  'Phone': '',
  'PostCode': 'RM17 5RZ',
  'RatingDate': '2022-07-22T00:00:00',
  'RatingKey': 'fhrs_5_en-gb',
  'RatingValue': 5,
  'RightToReply': '',
  'SchemeType': 'FHRS',
  '_id': ObjectId('65500060abd8a7dad1517bf3'),
  'geocode': {'latitude': 51.488892, 'longitude': 0.338999},
  'links': [{'href': 'http://api.ratings.food.gov.uk/establishments/390727',
             'rel': 'self'}],
  'meta': {'dataSource': None,
           'extractDate': '0001-01-01T00:00:00',
           'itemCount': 0,
           'pageNumber': 0,
           'pageSize': 0,
           'returncode': None,
           'totalCount': 0,
           'totalPages': 0},
  'scores': {'ConfidenceInManagement': None,
             'Hygiene': None,
             'Structural': None}},
 {'AddressLine1': '21 Southend Road',
  'AddressLine2': 'Grays',
  'AddressLine3': 'Essex',
  'AddressLine4': '',
  'BusinessName': 'Macchiatos',
  'BusinessType': 'Restaurant/Cafe/Canteen',
  'BusinessTypeID': 1,
  'ChangesByServerID': 0,
  'Distance': 4637.945045824783,
  'FHRSID': 1385053,
  'LocalAuthorityBusinessID': '21/00149/CP',
  'LocalAuthorityCode': '894',
  'LocalAuthorityEmailAddress': 'foodsafety@thurrock.gov.uk',
  'LocalAuthorityName': 'Thurrock',
  'LocalAuthorityWebSite': 'http://www.thurrock.gov.uk/food',
  'NewRatingPending': False,
  'Phone': '',
  'PostCode': 'RM17 5NH',
  'RatingDate': '2022-08-04T00:00:00',
  'RatingKey': 'fhrs_5_en-gb',
  'RatingValue': 5,
  'RightToReply': '',
  'SchemeType': 'FHRS',
  '_id': ObjectId('65500060abd8a7dad1517bca'),
  'geocode': {'latitude': 51.4837954, 'longitude': 0.3361583},
  'links': [{'href': 'http://api.ratings.food.gov.uk/establishments/1385053',
             'rel': 'self'}],
  'meta': {'dataSource': None,
           'extractDate': '0001-01-01T00:00:00',
           'itemCount': 0,
           'pageNumber': 0,
           'pageSize': 0,
           'returncode': None,
           'totalCount': 0,
           'totalPages': 0},
  'scores': {'ConfidenceInManagement': None,
             'Hygiene': None,
             'Structural': None}},
 {'AddressLine1': '34 High Street',
  'AddressLine2': 'Aveley',
  'AddressLine3': 'South Ockendon',
  'AddressLine4': 'Essex',
  'BusinessName': 'Essex Chef',
  'BusinessType': 'Takeaway/sandwich shop',
  'BusinessTypeID': 7844,
  'ChangesByServerID': 0,
  'Distance': 4641.3552683351045,
  'FHRSID': 1502433,
  'LocalAuthorityBusinessID': '22/00112/CP',
  'LocalAuthorityCode': '894',
  'LocalAuthorityEmailAddress': 'foodsafety@thurrock.gov.uk',
  'LocalAuthorityName': 'Thurrock',
  'LocalAuthorityWebSite': 'http://www.thurrock.gov.uk/food',
  'NewRatingPending': False,
  'Phone': '',
  'PostCode': 'RM15 4AD',
  'RatingDate': '2022-07-19T00:00:00',
  'RatingKey': 'fhrs_5_en-gb',
  'RatingValue': 5,
  'RightToReply': '',
  'SchemeType': 'FHRS',
  '_id': ObjectId('65500060abd8a7dad15183a3'),
  'geocode': {'latitude': 51.4985144, 'longitude': 0.257348},
  'links': [{'href': 'http://api.ratings.food.gov.uk/establishments/1502433',
             'rel': 'self'}],
  'meta': {'dataSource': None,
           'extractDate': '0001-01-01T00:00:00',
           'itemCount': 0,
           'pageNumber': 0,
           'pageSize': 0,
           'returncode': None,
           'totalCount': 0,
           'totalPages': 0},
  'scores': {'ConfidenceInManagement': None,
             'Hygiene': None,
             'Structural': None}},
 {'AddressLine1': 'Unit 2 The Boardwalk',
  'AddressLine2': 'Intu Lakeside',
  'AddressLine3': 'West Thurrock Way',
  'AddressLine4': 'West Thurrock',
  'BusinessName': 'Bourgee',
  'BusinessType': 'Restaurant/Cafe/Canteen',
  'BusinessTypeID': 1,
  'ChangesByServerID': 0,
  'Distance': 4640.067429127063,
  'FHRSID': 1400430,
  'LocalAuthorityBusinessID': '21/00171/CP',
  'LocalAuthorityCode': '894',
  'LocalAuthorityEmailAddress': 'foodsafety@thurrock.gov.uk',
  'LocalAuthorityName': 'Thurrock',
  'LocalAuthorityWebSite': 'http://www.thurrock.gov.uk/food',
  'NewRatingPending': False,
  'Phone': '',
  'PostCode': 'RM20 2ZN',
  'RatingDate': '2022-06-30T00:00:00',
  'RatingKey': 'fhrs_5_en-gb',
  'RatingValue': 5,
  'RightToReply': '',
  'SchemeType': 'FHRS',
  '_id': ObjectId('65500060abd8a7dad151800e'),
  'geocode': {'latitude': 51.487302, 'longitude': 0.281385},
  'links': [{'href': 'http://api.ratings.food.gov.uk/establishments/1400430',
             'rel': 'self'}],
  'meta': {'dataSource': None,
           'extractDate': '0001-01-01T00:00:00',
           'itemCount': 0,
           'pageNumber': 0,
           'pageSize': 0,
           'returncode': None,
           'totalCount': 0,
           'totalPages': 0},
  'scores': {'ConfidenceInManagement': None,
             'Hygiene': None,
             'Structural': None}},
 {'AddressLine1': '7 Stanford House',
  'AddressLine2': 'Princess Margaret Road',
  'AddressLine3': 'East Tilbury',
  'AddressLine4': 'Essex',
  'BusinessName': "Nancy's Sandwich Bar",
  'BusinessType': 'Restaurant/Cafe/Canteen',
  'BusinessTypeID': 1,
  'ChangesByServerID': 0,
  'Distance': 4634.858686758785,
  'FHRSID': 390400,
  'LocalAuthorityBusinessID': '09/00040/CP',
  'LocalAuthorityCode': '894',
  'LocalAuthorityEmailAddress': 'foodsafety@thurrock.gov.uk',
  'LocalAuthorityName': 'Thurrock',
  'LocalAuthorityWebSite': 'http://www.thurrock.gov.uk/food',
  'NewRatingPending': False,
  'Phone': '',
  'PostCode': 'RM18 8YP',
  'RatingDate': '2022-05-23T00:00:00',
  'RatingKey': 'fhrs_5_en-gb',
  'RatingValue': 5,
  'RightToReply': '',
  'SchemeType': 'FHRS',
  '_id': ObjectId('65500060abd8a7dad1517348'),
  'geocode': {'latitude': 51.480638, 'longitude': 0.417821},
  'links': [{'href': 'http://api.ratings.food.gov.uk/establishments/390400',
             'rel': 'self'}],
  'meta': {'dataSource': None,
           'extractDate': '0001-01-01T00:00:00',
           'itemCount': 0,
           'pageNumber': 0,
           'pageSize': 0,
           'returncode': None,
           'totalCount': 0,
           'totalPages': 0},
  'scores': {'ConfidenceInManagement': None,
             'Hygiene': None,
             'Structural': None}}]

In [77]:
# Convert result to Pandas DataFrame
top_5_rating_5_close_to_Penang_Flavours_df = pd.json_normalize(top_5_rating_5_close_to_Penang_Flavours_results)
top_5_rating_5_close_to_Penang_Flavours_df

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,geocode.longitude,geocode.latitude,meta.dataSource,meta.extractDate,meta.itemCount,meta.returncode,meta.totalCount,meta.totalPages,meta.pageSize,meta.pageNumber
0,65500060abd8a7dad1514e10,964681,0,PI/000026347,Buckle B&B,Hotel/bed & breakfast/guest house,7842,The Buckle,Marine Parade,Seaford,...,0.080909,50.779366,None,0001-01-01T00:00:00,0,None,0,0,0,0
1,65500060abd8a7dad1514db3,799755,0,PI/000062948,Co-Operative Food Store,Retailers - supermarkets/hypermarkets,7840,Units 1 And 2,123 Princess Drive,Seaford,...,0.091359,50.781491,None,0001-01-01T00:00:00,0,None,0,0,0,0
2,65500060abd8a7dad151555f,580837,0,PI/000059203,Barnfield Farm B & B,Hotel/bed & breakfast/guest house,7842,Barnfield Cottage,Barnfield Farm,Laughton Road,...,0.085820,50.895369,None,0001-01-01T00:00:00,0,None,0,0,0,0
3,65500060abd8a7dad15152d5,163361,0,PI/000004559,Firle Church Of England Primary School,School/college/university,7845,The Street,Firle,East Sussex,...,0.082538,50.849201,None,0001-01-01T00:00:00,0,None,0,0,0,0
4,65500060abd8a7dad1514d25,664257,0,PI/000027811,R & B Fish Bar,Takeaway/sandwich shop,7844,25 Claremont Road,Seaford,East Sussex,...,0.093059,50.776010,None,0001-01-01T00:00:00,0,None,0,0,0,0

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [79]:
# Create a pipeline that: 
# 1. Matches establishments with a hygiene score of 0
# 2. Groups the matches by Local Authority
# 3. Sorts the matches from highest to lowest
match_query = {"$match": {'scores.Hygiene': 0}}

group_query = {"$group": {"_id": "$LocalAuthorityName",
                          "count": {"$sum": 1}}}

sort_query = {"$sort": {"count": -1}}

pipeline = [match_query, group_query, sort_query]
# Print the number of documents in the result
results = list(establishments.aggregate(pipeline))
print(f"The number of documents in the result is {len(results)}")
# Print the first 10 results
pprint(results[0:10])

The number of documents in the result is 55
[{'_id': 'Thanet', 'count': 1130},
 {'_id': 'Greenwich', 'count': 882},
 {'_id': 'Maidstone', 'count': 713},
 {'_id': 'Newham', 'count': 711},
 {'_id': 'Swale', 'count': 686},
 {'_id': 'Chelmsford', 'count': 680},
 {'_id': 'Medway', 'count': 672},
 {'_id': 'Bexley', 'count': 607},
 {'_id': 'Southend-On-Sea', 'count': 586},
 {'_id': 'Tendring', 'count': 542}]

In [80]:
# Convert the result to a Pandas DataFrame
group_by_Authority_has_0_hygiene_score_df = pd.DataFrame(results)
# Display the number of rows in the DataFrame
print(f"The number of rows in the DataFrame is {len(group_by_Authority_has_0_hygiene_score_df)}")
# Display the first 10 rows of the DataFrame
group_by_Authority_has_0_hygiene_score_df.head(10)

The number of rows in the DataFrame is 55

               _id  count
0           Thanet   1130
1        Greenwich    882
2        Maidstone    713
3           Newham    711
4            Swale    686
5       Chelmsford    680
6           Medway    672
7           Bexley    607
8  Southend-On-Sea    586
9         Tendring    542